@media screen and (min-width: 1200px) {
	.software {
	width: 440px;
	height: 580px;
	background: url(software.png) 0px 0px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.software {
	width: 430px;
	height: 580px;
	background: url(software.png) 760px 0px;
	}	
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	.software {
	width: 330px;
	height: 580px;
	background: url(software.png) 330px 0px;
	}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
	.software {
	width: 710px;
	height: 620px;
	background: url(software.png) 0px -590px;
	}	
}

@media screen and (max-width: 600px) {
	.software {
	width: 480px;
	height: 620px;
	background: url(software.png) 480px -590px;
	}
}

